/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22/mar/2017, 3:40:03
    Author     : Ricardoc
*/

body {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 12pt;
}

.header1 {
    background-color: black ; 
    color: white;
    font-size: 32pt;
    padding: 15px 15px 15px 15px;
    float: top;
}

.footer1 {
    background-color: black; 
    color: white;
    font-size: 12pt;
    padding: 15px 15px 15px 15px;
    float: bottom;
    clear: left;
}

.master_container {
    background-color: whitesmoke;
    color: black;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 12pt;
}

.leftnav {
  width: 15%;
  float: left;
  padding-left: 5px;
  background-color: lightgrey;
  font-size: 8pt;
  min-height: 100%;
}

.content {  
  padding: 5px 5px 5px 5px; 
  margin-left: 15%;
  clear: both;
}

.center_container {
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  float: right;
  clear: both;
}

.responseButton a {
  color: black;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
}

.responseButton a:hover {
  background-color: black;
  color: whitesmoke;
}

.responseButton a.active {
  background-color: whitesmoke;
  color: black;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
